nav.navbar { background-color: #3f51b5!important; }

.bd-example {
    position: relative;
    padding: 1rem;
    border: solid #f7f7f9;
    border-width: .2rem;
}

table tbody tr td { white-space: nowrap; }